@{
    ViewBag.Title = "Customers";
}
<h3>@ViewBag.Message</h3>

<ul class="nav nav-tabs nav-justified">
    <li role="presentation" class="active"><a href="#">Register a customer</a></li>
    <li role="presentation"><a href="#">Search for a customer</a></li>
    <li role="presentation"><a href="#">Maintain a customer</a></li>
</ul>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Add customers</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <h4>Name <span class="label label-default"></span></h4>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"></span>
                        <input type="text" class="form-control" placeholder="Name" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col-md-4">
                    <h4>Surname <span class="label label-default"></span></h4>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"></span>
                        <input type="text" class="form-control" placeholder="Surname" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            <h4></h4>
            <h4>Date of birth <span class="label label-default"></span></h4>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"></span>
                <input type="text" class="form-control" placeholder="Date of Birth" aria-describedby="basic-addon1">
            </div>
            <h4></h4>
            <div class="row">
                <div class="col-md-4">
                    <h4>Contact Number <span class="label label-default"></span></h4>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"></span>
                        <input type="text" class="form-control" placeholder="Contact number" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col-md-4">
                    <h4>Email <span class="label label-default"></span></h4>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"></span>
                        <input type="text" class="form-control" placeholder="Email" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col-md-4">
                    <h4>Address <span class="label label-default"></span></h4>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"></span>
                        <input type="text" class="form-control" placeholder="Address" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            <!-- Split button -->
            <h4></h4>
            <h4>Gender <span class="label label-default"></span></h4>
            <div class="btn-group">
                <button type="button" class="btn btn-default">Male</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Male</a></li>
                    <li><a href="#">Female</a></li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h4>Username <span class="label label-default"></span></h4>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"></span>
                        <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col-md-4">
                    <h4>Password <span class="label label-default"></span></h4>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"></span>
                        <input type="text" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            <h4></h4>
            <div class="col-md-4">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default">Register</button>
                </div>
            </div>
            <h4></h4>
        </div>
    </div>
</div>







