
<script src="https://code.jquery.com.jquery.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

@{
    ViewBag.Title = "MaintainProductTypes";
}

<div id="main">
    <div class="" style="text-align:center;padding-left:120px">
        <h3>Maintain Product Type</h3>
    </div>

    <div class="panel panel-default" style="width:1200px">
        <div class="panel-heading">
            <h3 class="panel-title">Search Results - Product Details</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <h4><span style="font-weight:bold">Search Criteria:<span class="label label-default"></span></span></h4>
                    <input type="text" class="form-control" placeholder="Search Criteria" aria-describedby="basic-addon1">
                </div>
                <div class="col-md-3">
                    <h4><span style="font-weight:bold">Search Type:<span class="label label-default"></span></span></h4>
                    <select class="form-control form-control-sm">
                        <option>Product Type ID</option>
                        <option>Name</option>
                        <option>Description</option>
                    </select>
                </div>
                <div class="form-group" style="margin-top:28px">
                    <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-plus-sign" style="color:rgb(171, 7, 46)"></span><span style="color:rgb(171, 7, 46)"> Add More Criteria</span></a>
                </div>
            </div>
            <div class="col-xs-12" style="height:10px;"></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default" id="buttons"><span class="glyphicon glyphicon-search" style="color:white"></span>  Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default" style="width:1200px">
        <div class="panel-heading">
            <h3 class="panel-title">Product Type Details</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <h4><span style="font-weight:bold">Product Type Name:<span class="label label-default"></span></span></h4>
                    <input type="text" class="form-control" placeholder="Product Type Name" aria-describedby="basic-addon1">
                </div>
                <div class="col-md-4">
                    <h4><span style="font-weight:bold">Description:<span class="label label-default"></span></span></h4>
                    <textarea class="form-control" style="width:400px" placeholder="Description" rows="5" id="comment"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default" id="buttons"><span class="glyphicon glyphicon-ok" style="color:white"></span>  Save Changes</button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default" id="buttons"><span class="glyphicon glyphicon-remove" style="color:white"></span>  Delete Product Type</button>
            </div>
        </div>
    </div>
</div>

